*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: arial;
}

nav{
    max-width: 1440px;
    margin:30px auto;
    text-align: right;
    /* padding: 20px; */
}
nav a {
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 20px;
}
nav a.reservation{
    border:2px solid #555;
    font-size: 2.2rem;
    padding: 10px 30px;
    letter-spacing: 2px;
    margin-right: 50px;
    margin-left: 80px;
    transition: .2s;
}
nav a:hover{
    border-bottom: 2px solid #555;
    color:#555;
}
nav a.reservation:hover {
    background-color: #555;
    color:white;
    border:2px solid #fff;
}
header{
    height: 40vh;
    background-image:url('kmp.png');
    background-size: cover;
}
header h1{
    font-size: 6rem;
    color:white;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0,0,0,50%);
}
main{
    max-width: 1440px;
    margin:5vh auto;
    /* font-size: 0; */
}
main p.description{
    font-size: 2rem;
    text-align: center;
    margin: 0 30px 50px 30px;
    line-height: 150%;
}
main div.feature{
   display: inline-block;
   width: 33%;
}
main div.image{
height: 200px;
background-color: #555;
}
main h2{
    font-size: 1.5rem;
    text-align: center;
    
}
footer{
    background-color: #555;
}
footer p{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
} 